# Problem Set - 2

# Question No. 1

In [14]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

b()
b()
b()
a

6

b() = In the first line, the value of a = 0 and then the variable 'a' is set as a global variable. Therefore, this means it is accessible throughout the class. So when we call the first b() function, the value is updated to 2.

Similarly, when again executing, then the function b() = 2 + 2 = 4

Lastly, when we executing another time then the function b() = 4 + 2 = 6
therefore value of 'a' when executed it is updated to 6.

# Question No. 2

In [20]:
def file_length(filename):
    try:
        infile = open(filename, "r")                     
        contents=infile.read()
        print('Total file length is : '+ str(len(contents)))
        infile.close()
    except:
        print('File '+filename+' not found.')

In [21]:
file_length("midterm.py")

Total file length is : 73

In [22]:
file_length('idterm.py')

File idterm.py not found.

# Question No. 3

In [23]:
class Marsupial(object):
  
    def __init__(self):           
        self.list = []
    def put_in_pouch(self, product):       
        self.list.append(product)
    def pouch_contents(self):
        return self.list
    
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [24]:
class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y

    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy

    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [43]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

# Question No. 4

In [12]:
def collatz(n): 

    if n != 1:                   
        if n%2!=0:
            print(int(n))
            collatz(3*n+1)

        else:
            print(int(n))
            collatz(n/2)

    else:
        print(int(n));

In [13]:
collatz(5)

5
16
8
4
2
1

# Question No. 5

In [46]:
def binary(b):
    
    if b>0:
        return (b % 2 + 10*binary(int(b // 2)))
       
    else:
         return 0

In [47]:
binary(0)

0

In [48]:
binary(1)

1

In [49]:
binary(3)

11

In [50]:
binary(9)

1001

# Question No. 6

In [25]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):           
    def __init__(self):
        HTMLParser.__init__(self)
        self.head =0
        self.intend = ""
    def handle_starttag(self, tag, attrs):
        if tag[:-1]=='h':
            self.head = 'type'
    def handle_data(self, data):
        if self.head=="type":
            print(self.intend+ data)
            self.intend+= "    "
            self.head=0

In [26]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

# Question No. 7

In [29]:
from html.parser import HTMLParser
from urllib.request import urlopen
from urllib.parse import urljoin

class collectURL(HTMLParser):    
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    
    def handle_starttag(self, tag , attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolueLink = urljoin(self.url, attr[1])
                    if absolueLink[:4] == 'http':
                        self.links.append(absolueLink)
                        
    def getLinks(self):
        return self.links

def webdir(url, depth, indent):
    content = urlopen(url).read().decode()
    collector = collectURL(url)
    collector.feed(content)
    urls = collector.getLinks()
    
    if indent == 0:
        print(url)
    else:
        print(indent*' ',url)

    for url in urls:
        if depth > 0:
            webdir(url, depth - 1, indent+2)

In [30]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
   http://reed.cs.depaul.edu/lperkovic/test2.html
     http://reed.cs.depaul.edu/lperkovic/test4.html
   http://reed.cs.depaul.edu/lperkovic/test3.html
     http://reed.cs.depaul.edu/lperkovic/test4.html


# Question No. 8

In [67]:
import sqlite3
con = sqlite3.connect('data.db')
cur = con.cursor()
cur.execute("CREATE TABLE Ahmed (City text, Country text, Season text, Temperature float, Rainfall float)")
cur.execute("INSERT INTO Ahmed VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9 )")
cur.execute("INSERT INTO Ahmed VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2 )")
cur.execute("INSERT INTO Ahmed VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Ahmed VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")

cur.execute("INSERT INTO Ahmed VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO Ahmed VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO Ahmed VALUES ('London', 'United Kingdom', 'Summer',15.7, 157.0)")
cur.execute("INSERT INTO Ahmed VALUES ('London', 'United Kingdom', 'Fall',10.4, 218.5)")


cur.execute("INSERT INTO Ahmed VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO Ahmed VALUES ('Cairo', 'Egypt', 'Spring',20.7, 6.5)")
cur.execute("INSERT INTO Ahmed VALUES ('Cairo', 'Egypt', 'Summer',27.7, 0.1)")
cur.execute("INSERT INTO Ahmed VALUES ('Cairo', 'Egypt', 'Fall',22.5, 4.5)")

# a)	All the Temperature Data.

In [68]:
cur.execute('SELECT * FROM Ahmed')
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Winter', 4.2, 207.7), ('London', 'United Kingdom', 'Spring', 8.3, 169.6), ('London', 'United Kingdom', 'Summer', 15.7, 157.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.5, 4.5)]

# b)	All the Cities, but without Repetition.

In [69]:
cur.execute('SELECT DISTINCT City FROM Ahmed')
print(cur.fetchall())

[('Mumbai',), ('London',), ('Cairo',)]

# c)	All the Records for India.

In [70]:
cur.execute('SELECT * FROM Ahmed WHERE Country = ?', ('India',))
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# d)	All the Fall Records.

In [71]:
cur.execute('SELECT * FROM Ahmed WHERE Season = ?', ('Fall',))
print(cur.fetchall())

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.5, 4.5)]

# e)	The City, Country, and Season for which the average Rainfall is between 200 and 400 millimeters.

In [72]:
cur.execute('SELECT City, Country, Season FROM Ahmed WHERE Rainfall > ? AND Rainfall < ?', (200,400))
print(cur.fetchall())

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

# f)	The City and Country for which the Average Fall Temperature is above 20 Degrees, in increasing Temperature Order.

In [73]:
cur.execute('SELECT City, Country FROM Ahmed WHERE Season = ? AND Temperature > ? ORDER BY Temperature', ('Fall',20))
print(cur.fetchall())

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

# g)	The Total Annual Rainfall for Cairo

In [74]:
cur.execute('SELECT City, SUM(Rainfall) FROM Ahmed WHERE City = ? GROUP BY City', ('Cairo',))
print(cur.fetchall())

[('Cairo', 27.6)]

# h) Total Rainfall for Each Season

In [75]:
cur.execute('SELECT Season, SUM(Rainfall) FROM Ahmed GROUP BY Season')
print(cur.fetchall())

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question No. 9

In [12]:
words = ['The', 'quick', 'brown','fox', 'jumps','over', 'the' ,'lazy' ,'dog' ]

# a)

In [13]:
List1 = [x.upper() for x in words]
print(List1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# b)

In [14]:
List2 = [x.lower() for x in words]
print(List2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# c)

In [15]:
List3 = [len(x) for x in words]
print(List3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# d)

In [16]:
List4 = [(x.upper(), x.lower(), len(x)) for x in words]
print(List4)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

# e)

In [17]:
List5 = [x for x in words if len(x)>=4]
print(List5)

['quick', 'brown', 'jumps', 'over', 'lazy']